header{
	background: #393d33; /* Old browsers */
	background: -moz-linear-gradient(top,  #393d33 0%, #1d1e19 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#393d33), color-stop(100%,#1d1e19)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #393d33 0%,#1d1e19 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #393d33 0%,#1d1e19 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #393d33 0%,#1d1e19 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #393d33 0%,#1d1e19 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393d33', endColorstr='#1d1e19',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 1);


}

body {
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.content{
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 1);

	margin: 1em;

	padding: .5em;

}

.border-top{
	border-top: .2em solid rgb(150,150,150);
}
.border-left{
	border-left: .2em solid white;
}
.border-right{
	border-right: .2em solid rgb(190,190,190);
}
.border-bottom{
	border-bottom: .2em solid white;
}

.border{
	border: 1px solid;
}

[class*="circle-"]{
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%;
	border: 2px dotted;
	background: rgb(29,30,25); /* Old browsers */
	border-color: rgb(255,255,255);
	bottom: 5%;
	position: relative;
	z-index: 4;

	-webkit-box-shadow: 6px 3px 23px rgba(63, 65, 60, 0.85);
	-moz-box-shadow:    6px 3px 23px rgba(63, 65, 60, 0.85);
	box-shadow:         6px 3px 23px rgba(63, 65, 60, 0.85);
}

[class*="circle-"]:hover{
	-webkit-box-shadow: 6px 3px 23px rgba(63, 65, 60, 0.85);
	-moz-box-shadow:    6px 3px 23px rgba(63, 65, 60, 0.85);
	box-shadow:         6px 3px 23px rgba(63, 65, 60, 0.85);
	border: 2px solid;
	border-color: rgb(255,255,255);
	cursor:hand;

}


.red{
	text-align: center;
	position: relative;
	top: 20px;
	left: 0px;

}

.facebook .red{
	left: 15px;
}
.sep{
	width: 20px;
	height: 20px;
	display: inline-block;
}

.inc{
	position: relative;
	top: 27px;
	left: 0px;
	color: white;
}

.bar-sublime{
	background-color: rgb(29,30,25);
}

.video{
	height:60%;
	width:80%;
}

.imag{
	width:5%; 
	padding: .5%;
}

.facebook {
	background-color: rgb(59, 89, 152);
}

.twitter {
	background-color: rgb(67, 151, 255);
}

.gplus {
	background-color: rgb(207, 69, 43);
}

.white-header {
	font-size: 5em;
	color: white;
}

.g-plusone {
	position: relative;
	left: 10px;
}




